.login-container{
    background-image: url(../Assets/waterDrop-image.jpg);
    background-size: cover;
}
.login-form{
    box-shadow: 0px 0px 80px #bebebe59;
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff3b;
    border-radius: 10px;
}
.container{
    margin: auto;
    width: 350px;
}
.partial-bg{
    width: 50%;
    border-radius: 50% 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span-text{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}